/************************************************************************************
    Styles for The Meglish Conversation College
************************************************************************************/

body {
    margin-top: 6em;
    margin-bottom: 8em;
    font-family: verdana;
}

nav img {
    max-width: 100px;
}

.about-col {
    display: table;
}

.about {
    display: table-cell;
    vertical-align: middle;
}

.half-page {
    text-align: center;
    padding: 1em;
    background: #eee;
    height: 100%;
}

.half-page h1 {
        margin-bottom: 20px;
    }

[class*="col-"] {
    margin-bottom: 40px;
}

/************************************************************************************
    Call Button (SM only)
************************************************************************************/

.call-sm {
    text-align: center;
}

.call-sm h3 {
    margin-bottom; 0.5em;
}

.call-button {
    color: white;
    background: linear-gradient(red, black);
    box-shadow: 0 5px 6px -4px black;
    border-radius: 1em;
    padding: 0.5em;
}

.call-button:active {
    background: linear-gradient(black, red);
}

/************************************************************************************
    Service
************************************************************************************/

.services {
    height: 40em;
    background: #eee;
    width: 100%;
}

.service-wrapper {
    text-align: center;
}

.service-wrapper h3 {
    padding-top: 5em;
}

.ball-wrapper {
    position: relative;
    margin-top: 5em;
}

.ball {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 10em;
    height: 10em;
    margin: 0 auto;
    border-radius: 100%;
}

.ball-center {
    position: absolute;
    top: 0.22em;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 7em;
}

.red-ball {
    background: hotpink;
}

.blue-ball {
    background: lightblue;
}

.green-ball {
    background: lightgreen;
}

.yellow-ball {
    background: yellow;
}

/************************************************************************************
    Media Querys
************************************************************************************/

.lg_only {
    display: none;
}

@media only screen and (min-width: 767.98px) {
    
    .sm_only {
        display: none;
    }
    
    .lg_only {
        display: block;
    }
    
    html, body, section.full-height {
        height: 100%;
    }
    
}