/************************************************************************************
    Styles for The Meglish Conversation College
************************************************************************************/

body {
    margin-top: 6em;
    margin-bottom: 8em;
    font-family: verdana;
}

nav img {
    max-width: 100px;
}

.sm-pad {
    padding: 10px;
}

.about-col {
    display: table;
}

.about {
    display: table-cell;
    vertical-align: middle;
}

.half-page {
    text-align: center;
    padding: 1em;
    background: #eee;
    height: 100%;
}

.half-page h1 {
        margin-bottom: 20px;
    }

[class*="col-"] {
    margin-bottom: 40px;
}

/************************************************************************************
    Call Button (SM only)
************************************************************************************/

.call-sm {
    text-align: center;
}

.call-sm h3 {
    margin-bottom; 0.5em;
}

.call-button {
    color: white;
    background: linear-gradient(red, black);
    border-radius: 1em;
    padding: 0.5em;
}

.call-button:active {
    background: linear-gradient(black, red);
}

/************************************************************************************
    Media Querys
************************************************************************************/

.lg_only {
    display: none;
}

@media only screen and (min-width: 767.98px) {
    
    .sm_only {
        display: none;
    }
    
    .lg_only {
        display: block;
    }
    
}